# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Vim swapfiles
.*.sw?

# Assignment files
jarusn.*
*.yy.c
*.tab.c

tests/
diffs/
IRGen
